* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  padding: 10px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  row-gap: 50px;
}

.header {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 50px;
}

.loading {
    width: 200px;
    margin: 0 auto;
    padding: 50px;
}